<%- include('header')-%>

<h2>This is some random text that is on non-template website.</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga officiis doloremque eos vero cumque qui soluta saepe perspiciatis illum pariatur non aliquam assumenda, possimus quas quibusdam velit delectus enim!</p>

<%- include('footer')-%>